body {
    background: navy;
    color: white;
    font-family: 'Nunito', sans-serif;
    max-width: 80vw;
    margin: auto;
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid white;
}

p {
    line-height: 1.6;
}
